@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    background: #222;
    padding: 5px 20px;   
}
ul{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
}
.menu li a {
    display: block;
}
.logo a {
    font-size: 20px;
    width: fit-content;
}
.button.secondary {
    border-bottom: 1px #444 solid;
}


/* Mobile Menu */

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    order: 1;
}

.item.button {
    order: 2;

}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active{
    display: block;
}
.toggle {
    cursor: pointer;
}
.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
}
.bars::before,.bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    width: 18px;
    position: absolute;
}
.bars::before {
    top: 5px;
}
.bars::after {
    top: -5px;
}


/* Tablet Menu */

@media all and (min-width:468px){
    .menu {
        justify-content: center;
    }
    .logo {
        flex:1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        text-decoration: none;
        padding: 7px 15px;
        background: teal;
        border: 1px solid #006d6d;
        border-radius: 50em;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover{
        transition: all .25s;
    }
    .button:not(.secondary) a:hover{
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
}


/* Desktop Menu */

@media all and (min-width:768px) {
    .item {
        display:block;
        width: auto;
    }
    .toggle{
        display:none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li{
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}

/* Chef List Container */

.chef-list-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 250px;
    left: margin;
    padding: 0 20px;
}

/* Chef Card Container */

.chef-card-container {
    position: relative;
    margin: 15px 10px 0 0;
    height: 300px;
    width: 225px;
    border-radius: 10px;
    border-style: solid;
}

.chef-card-header {
    display: flex;
    justify-content: space-between;
}

.chef-card-name {
    font-weight: 600;
    padding: 20px 4px 0 4px;
}
 
.chef-card-profile-picture {
    padding: 4px 0 0 4px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.chef-card-bio {
    padding: 20px 4px 0 4px;
    text-align: center;
    display: flex;
    font-weight: 300;
}

.chef-card-services {
    text-align: center;
    position: absolute;
    bottom: 0px;
}

/* Register Accounts */

.register-form-parent {
    display: flexbox;
    flex-direction: column;
    text-align: center;
}

.register-input {
    width: 238px;
}

.register-input-file {
    
}